html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto"
}

body {
    font-family: "Source Sans Pro"
}

.w3-hide-small w3-bar-item w3-button w3-mobile w3-medium w3-right {
    margin-top: 10px;
}